backup-to-git-vfk3BG8FsooZeN6D.json
{"createdAt":"2025-06-02T19:30:53.037Z","updatedAt":"2025-06-02T20:13:10.037Z","id":"vfk3BG8FsooZeN6D","name":"backup to git","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"feafe5f1-5185-4f45-8883-6491ff03181f","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2120,120]},{"parameters":{"options":{}},"id":"b2bb2ba4-4494-446b-80f3-3b606c99c01e","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"bc40fbf0-7b1f-455a-a062-9fc60294eeb6","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"ed6e2a9d-75c0-4681-ba06-5bbd794d0608","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/slimikspb/n8n_test","mode":"url"},"repository":{"__rl":true,"value":"n8n_test","mode":"name"},"filePath":"="},"id":"ee58d2e8-6424-4b05-89a8-2a390d7b57f3","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"webhookId":"15dddb27-a33d-4b77-91bc-0c0c7296f30a","credentials":{"githubApi":{"id":"orUVaDbbF4MrHXQM","name":"GitHub API"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"62adc17e-976f-426b-b821-e1d50ba10cac","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bfe5d896-d69a-4d1f-a459-b2904f5b895e","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"iR5R0RNzW2OWE1Xd","name":"n8n RW ACC"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e2e77709-0b49-4b14-908b-ac22d88598eb","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"9f2afd69-7616-4edd-91ef-fa9ec792d201","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"cf9c193d-889b-43b8-9ef8-40b0b8f6812d","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/slimikspb/n8n_test","mode":"url"},"repository":{"__rl":true,"value":"n8n_test","mode":"list","cachedResultName":"n8n_test","cachedResultUrl":"https://github.com/slimikspb/n8n_test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2e93e3f9-0bba-45b4-95bf-dc39f03b6a96","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"2cbb13a4-c1db-48d2-901c-f912e4b365fd","credentials":{"githubApi":{"id":"orUVaDbbF4MrHXQM","name":"GitHub API"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/slimikspb/n8n_test","mode":"url"},"repository":{"__rl":true,"value":"n8n_test","mode":"list","cachedResultName":"n8n_test","cachedResultUrl":"https://github.com/slimikspb/n8n_test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"12a61c45-ed62-4d6f-8af0-2980760fa034","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"6b9e95bc-abfe-4753-837b-59d32b1d8ee9","credentials":{"githubApi":{"id":"orUVaDbbF4MrHXQM","name":"GitHub API"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2080,280],"id":"faaf59f8-9e9a-4088-ad37-3f3dd09ea856","name":"Schedule Trigger"}],"connections":{"Execute workflow":{"main":[[]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e953023-9dd6-4cc2-a0ec-596e05be3470","triggerCount":1,"tags":[]}